* { 
    box-sizing: border-box;
    /* border: solid black; */
}

body {
    background-color: rgba(163,164,231,0.2);
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.leftSide {
    width: min(35%);
    height: 100vh;
    display: flex;
    background-image: url("background.jpg");
    flex-direction:column;
    background-size:cover;
}

.banner { 
    display: flex;
    height: 20%;
    background-color: rgba(255, 253, 253, 0.08);
    align-items: center;
    justify-content: center;
    margin-top: 30%;
    flex-shrink: 1;
    padding-left: min(1em);
    padding-right: min(1em);
}

.logo { 
    height:80%;
}

.logoText {
    font-size: clamp(2rem, 7vw, 3.5rem);
    color: white;
    font-family: Barriecito;
}

.footer, strong {
    color: rgba(255, 255, 255, 0.575);
    text-shadow: rgba(255, 255, 255, 0.575) 1px 0 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;

}

.footer  {
    margin-top: auto;
    text-align: center;
    padding-bottom: 5px;
}

.rightSide {
    display: flex;
    flex-direction:column; 
    width: min(65%);
    height: 100vh;
    
}

.top { 
    font-size: clamp(1rem, 2vw, 1.5rem);
    padding-left: 2rem;
    padding-right: min(10vw, 5rem);
    padding-top: 8rem;
    padding-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 0.6);
    height: 40vh;
}

form section div{
    display: flex;
    flex-direction: column;
    gap: clamp(0.1rem, 0.5vh, 0.6vh);

}
.middle {
    background-color: white;
    box-shadow: 0px 5px 10px rgba(163,164,231,0.8);
    height: 40vh;
}

form section {
    display: flex;
    padding-left: 2rem;
}

.form-header {
   padding-left: 2rem;
   font-size: clamp(1rem, 1.5vw, 2rem);
   color: rgba(0, 0, 0, 0.6);
}

section { 
    gap: 5rem; 
    margin-bottom: clamp(1rem, 3vh, 3rem);
}

.input{
    width: clamp(5rem, 20vw, 16rem);
    min-height: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    
}

.label {
    font-size: clamp(0.7rem, 1vw, 1.5rem);
    color: rgba(0, 0, 0, 0.6);
}

.bottom {
    padding-left: 2rem;
    padding-top: 1.5rem;
    height: 20%;

}

button {
   width: clamp(10rem, 10vw, 20rem); 
   height: clamp(2rem, 3vw, 5rem);
   font-size: clamp(0.5rem, 1vw, 1.3rem);

   border: 1px solid rgba(163,164,231,0.6);
   border-radius: 10px;
   background-color: rgba(163,164,231,0.6);
   color: white;
}

.bottom-text {
    font-size: clamp(1rem, 1.5vw, 2rem);
    color: rgba(0, 0, 0, 0.6);
}

.login {
    color: rgba(163,164,231,0.9)
}

input:valid {
    border: rgba(0, 0, 0, 0.4) solid 1px;
}

input:invalid {
    border: rgba(242, 63, 63, 0.4) solid 1px;
}

#error {
    font-size: clamp(0.7rem, 1vw, 1.5rem);
    color: rgba(242, 63, 63, 0.6);
    margin-top: 0px;
}



